slider-component {
  position: relative;
  display: block;
}

.slider-slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}

@media (max-width: 40em) {
  .slider.slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 0;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;
  }
}

.slider-slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}


@media (min-width: 40em) {
  .slider.slider--desktop {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 0;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;
  }
}


@media (prefers-reduced-motion) {
  .slider {
    scroll-behavior: auto;
  }
}

/* Scrollbar */

.slider {
  scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  border-radius: 0.4rem;
  border: 0;
}

.slider::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.04);
  border-radius: 0.4rem;
}

.slider-counter {
  display: flex;
  justify-content: space-between;
  min-width: 4.4rem;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button {
  color: rgba(var(--color-foreground), 0.75);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}


.slider-button[disabled] {
  color: rgba(var(--color-foreground), var(--alpha-low));
  cursor: not-allowed;
}

.slider-button--next:not([disabled]):hover svg {
  transform: scale(1.1);
}

.slider-button--prev:not([disabled]):hover svg {
  transform: scale(1.1);
}
